<div class="address-container col-md-12 col-sm-12 col-xs-12"> 
 <address class="col-md-12 col-sm-12 col-xs-12 no-right-padding">
     <div class="row col-md-12 col-sm-12 col-xs-12 no-right-padding">
     <!-- ko if: ($parent.user().isProfileAddressManager() || $parent.user().isAccountAddressManager() || $parent.user().isDelegatedAdmin()) -->
      <div class="col-xs-6 col-sm-6 col-md-6 pull-right text-right">
        <!-- ko if: $parent.user().active() && ($data.isInherited === true)-->
          <button class="btn btn-default btn-sm iconButtons"
             data-bind="attr: {id: 'CC-organization-inherited -address-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                                 widgetLocaleText: {value:'inheritedAddressIcon', attr:'title'},
                                 disabled:true,
                                 style:{'background-color': 'dimgrey'}">
              <i class="fa fa-users" data-bind="style:{'color':'lightGrey'}"></i>
          </button>
        <!-- /ko -->
      	<!-- ko ifnot:  (($data.isProfile && $data.isProfile == true) || !($parent.user().isAccountAddressManager() || $parent.user().isDelegatedAdmin())) -->
      	  <!-- ko if: $parent.user().active() -->
      	<button class="btn btn-default btn-sm iconButtons"
                data-bind="attr: {id: 'CC-organization-address-select-default-billing-btn-' + $index() + '_' + $parent.returnUniqueValueForId.call($parent)},
                                 widgetLocaleText: {value:'selectDefaultBillingAddressBtnTitle', attr:'title'},
                                 click: $parent.setDefaultBillingAddress.bind($parent, $data),
                                 disabled:false,
                                 style:{'background-color':   ($parent.defaultBillingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultBillingAddress().repositoryId ? 'dimgrey': ''}">
          <i class="fa fa-credit-card" data-bind="style:{color:  ($parent.defaultBillingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultBillingAddress().repositoryId ? 'lightgrey': ''}"></i>
        </button>
        <button class="btn btn-default btn-sm btn-margin iconButtons"
                data-bind="attr: {id: 'CC-organization-address-select-default-shipping-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                                 widgetLocaleText: {value:'selectDefaultShippingAddressBtnTitle', attr:'title'},
                                 click: $parent.setDefaultShippingAddress.bind($parent, $data),
                                 disabled:false,
                                 style:{'background-color':  ($parent.defaultShippingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultShippingAddress().repositoryId ? 'dimgrey': ''}">
          <i class="fa fa-truck" data-bind="style:{color:  ($parent.defaultShippingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultShippingAddress().repositoryId ? 'lightgrey': ''}"></i>
        </button>
          <!-- /ko -->
        <!-- /ko -->
       <!-- ko ifnot: ($data.isInherited == true ||
           ($parent.defaultBillingAddress() && $parent.defaultBillingAddress().isInherited == true)||
           ($parent.defaultShippingAddress() && $parent.defaultShippingAddress().isInherited == true) ) -->
        <!-- ko if: (!($data.isProfile && $data.isProfile==true) && ($parent.user().isAccountAddressManager() || $parent.user().isDelegatedAdmin())) -->   
        <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-customerProfile-edit-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                            widgetLocaleText: {value:'editOrganizationAddressBtnTitle', attr:'title'},
                            click: $parent.handleCreateOrEditOrganizationAddress.bind($parent, false)">
          <i class="fa fa-pencil"></i>
          <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderEditOrganizationAddressLabel'"></span>
        </button>
        <!-- ko if:$parent.user().active() -->
         <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-account-remove-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                               click: $parent.removeOrganizationAddress.bind($parent, address,$element.id),
                               widgetLocaleText: {value:'removeOrganizationAddressBtnTitle', attr:'title'}">
          <i class="fa fa-trash-o"></i>
          <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderRemoveOrganizationAddressLabel'"></span>
        </button>
        <!-- /ko -->
        <!-- /ko -->     
         <!-- ko if: ($data.isProfile && $data.isProfile==true && $parent.user().isProfileAddressManager()) -->   
        <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-customerProfile-edit-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                            widgetLocaleText: {value:'editProfileAddressBtnTitle', attr:'title'},
                            click: $parent.handleCreateOrEditOrganizationAddress.bind($parent, false)">
          <i class="fa fa-pencil"></i>
          <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderEditProfileAddressLabel'"></span>
        </button>
         <!-- ko if:$parent.user().active() -->
         <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-customerProfile-remove-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                               click: $parent.removeOrganizationAddress.bind($parent, address,$element.id),
                               widgetLocaleText: {value:'removeProfileAddressBtnTitle', attr:'title'}">
          <i class="fa fa-trash-o"></i>
          <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderRemoveProfileAddressLabel'"></span>
        </button>
        <!-- /ko -->
        
        <!-- /ko -->             
        <!-- /ko -->
      </div>
      <!-- /ko -->
     
      <!-- ko if:!$parent.user().isB2BUser() -->
         <div class="col-xs-6 col-sm-6 col-md-6 pull-right text-right">
            <button class="btn btn-default btn-sm btn-margin iconButtons"
                data-bind="attr: {id: 'CC-B2Corganization-address-select-default-shipping-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                                 widgetLocaleText: {value:'selectDefaultShippingAddressBtnTitle', attr:'title'},
                                 click: $parent.setDefaultShippingAddress.bind($parent, $data),
                                 disabled:($data.address.repositoryId === $parent.defaultShippingAddress().repositoryId),
                                 style:{'background-color':  ($parent.defaultShippingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultShippingAddress().repositoryId ? 'dimgrey': ''}">
                <i class="fa fa-truck" data-bind="style:{color:  ($parent.defaultShippingAddress() === null || address ===null) ? '' : address.repositoryId === $parent.defaultShippingAddress().repositoryId ? 'lightgrey': ''}"></i>
           </button>
           <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-B2CcustomerProfile-edit-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                            widgetLocaleText: {value:'editProfileAddressBtnTitle', attr:'title'},
                            click: $parent.handleCreateOrEditOrganizationAddress.bind($parent, false)">
                <i class="fa fa-pencil"></i>
                <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderEditProfileAddressLabel'"></span>
           </button>
           <button class="btn btn-default btn-sm btn-margin"
                data-bind="attr: {id: 'CC-B2CcustomerProfile-remove-addr-btn-' + $index()+ '_' + $parent.returnUniqueValueForId.call($parent)},
                               click: $parent.removeOrganizationAddress.bind($parent, address, $element.id, $parent),
                               widgetLocaleText: {value:'removeProfileAddressBtnTitle', attr:'title'}">
               <i class="fa fa-trash-o"></i>
               <span class="sr-only" data-bind="widgetLocaleText: 'screenReaderRemoveProfileAddressLabel'"></span>
           </button>
        </div>
      <!-- /ko -->

      
      <div class="col-md-6 col-sm-6 col-xs-6">
      
        <!-- ko if: $parent.defaultBillingAddress() === null ? false:  (address.repositoryId === $parent.defaultBillingAddress().repositoryId ? true: false)-->
          <span class="cc-DefaultShippingAndBillingAddressesFont" data-bind="widgetLocaleText: 'defaultBillingAddressLabel'"></span>
          <br />
        <!-- /ko -->
        <!-- ko if: $parent.defaultShippingAddress() === null ? false:  (address.repositoryId === $parent.defaultShippingAddress().repositoryId ? true: false) -->
          <span class="cc-DefaultShippingAndBillingAddressesFont" data-bind="widgetLocaleText: 'defaultShippingAddressLabel'"></span>
          <br /> 
        <!-- /ko -->
      
      <div data-bind="css: {'accountAddressTextLine': ($data.isInherited===false), 'profileAddressTextLine': ($data.isProfile===true || $data.isInherited===true)}">
      	<span class="address-field" data-bind="text: addressType"></span>
      	<br/>
      </div>      
      <!-- ko if: address.firstName -->
      <span class="address-field" data-bind="text: address.firstName"></span>
      <!-- /ko -->
      <!-- ko if: address.lastName -->
      <span class="address-field profileAddressTextLine" data-bind="text: address.lastName"></span>
      <br/>
      <!-- /ko -->
      <div data-bind="css: {'accountAddressTextLine': ($data.isInherited===false), 'profileAddressTextLine': ($data.isProfile===true || $data.isInherited===true)}">
         <span class="address-field" data-bind="text: address.companyName"></span>
      </div>
      <div class="textLine">
         <span class="address-field" data-bind="text: address.address1"></span>
         <br/>
      </div>
      <!-- ko if: address.address2 -->
        <div class="textLine">
          <span class="address-field" data-bind="text: address.address2"></span>
        </div>       
      <!-- /ko -->
      <div class="textLine">
        <span class="address-field" data-bind="text: address.city"></span>, <span class="address-field" data-bind="text: address.displayStateName"></span>, <span class="address-field" data-bind="text: address.postalCode"></span>
        <br/>
      </div>
      <div>
       <span class="address-field" data-bind="text: address.displayCountryName"></span>
       <br/>
      </div>
      <div>
       <span class="address-field" data-bind="text: address.phoneNumber"></span>
       <br />
      </div>
       </div>
      </div>
    </address>
    

  
</div>
